body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  padding: 0 50px 50px;
}

.task-list-wrapper {
  display: flex;
  justify-content: space-between;
}

.task-list-item {
  padding: 5px 15px;
  margin-bottom: 20px;
  border: 1px solid #000;
}

.task-list-item p {
  margin: 0.5rem 0;
}
